body {
    background-color: #FFFFFF; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}
.container {  
    width: 800px;
    margin-left: calc(50% - 400px);
    display: inline-block;
    margin-top: 4%;    
}
header {
    margin-top: 5%;
    display: inline-block;
}
.icon {
    width: 30px;
    background-color: #FFFFFF;
    color: #B8B8B8;
    font-size: 30px;
    float: right;
    margin: 0;
    padding: 0;
}
.left-column {
    width: 50%; 
    float: left;
}
.img {
    width: 60%;
    margin-top: 15px;
    margin-left: calc(50% - 25%)    
}
.right-column {
    width: 50%; 
    float: right; 
}
.main-title {
    display: inline-block;
    color: #1E5013; 
    font-size: 160px;
    font-weight: normal;
    margin-top: 40px;
    width: 100%;
    text-align: left;
    line-height: 1em;
    margin-bottom: 25px;
}
.description {
    display: inline-block;
    font-size: 20px;
    color: #475E44;
    width: 70%;   
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: -1px;
}    
.button {
    background-color: #64B24D; 
    color: #fff; 
    font-size: 20px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration-line: none; 
    display: block;
    line-height: 1.5em;
    margin-top: 20px;
    width: 120px;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 50%);    
}

.button:hover {
    background-color: grey;   
}